<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profil</h1>
    <nav>
      <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="/home">Acceuil</a></li>        <li class="breadcrumb-item">Utilisateurs</li>
        <li class="breadcrumb-item active">Profil</li>
      </ol>
    </nav>
  </div><!-- Fin Titre de la page -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <img [src]="currentUser.image
                ? currentUser.image 
                : 'assets/img/profile-img.jpg'
            " alt="Profile" class="rounded-circle" [style.width.px]="150" />
              
              
              <h2>{{ currentUser.firstname }} {{ currentUser.lastname }}</h2>
              <h3> {{ currentUser.role }}</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                <li class="nav-item" role="presentation">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Aperçu</button>
                </li>



                <li class="nav-item" role="presentation">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings" aria-selected="false" tabindex="-1" role="tab">Activer le paiement</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" tabindex="-1" role="tab">Authentification à 2 facteurs</button>
                  </li>

             

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
                  <h5 class="card-title">Paramètres du profil</h5>
                  <p class="small fst-italic">Cette page contient les différents paramètres que vous pouvez modifier pour personnaliser votre expérience de navigation.</p>
  
                  <h5 class="card-title">Détails du profil</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Nom complet</div>
                    <div class="col-lg-9 col-md-8">{{ currentUser.firstname }} {{ currentUser.lastname }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Nom d'utilisateur</div>
                    <div class="col-lg-9 col-md-8">{{ currentUser.username }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Solde des jetons</div>
                    <div class="col-lg-9 col-md-8">{{ currentUser.tokenBalance}}</div>
                  </div>
                
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Role</div>
                    <div class="col-lg-9 col-md-8">{{ currentUser.role }}</div>
                  </div>
                
                  <h5 class="card-title mt-4">Vente activée</h5>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Selling Enabled</div>
                    <div class="col-lg-9 col-md-8">
                      <span [ngClass]="isSellingEnabled ? 'text-success' : 'text-danger'">
                        {{ isSellingEnabled ? 'Activée' : 'Désactivée' }}
                      </span>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Authentification à deux facteurs</div>
                    <div class="col-lg-9 col-md-8">
                      <span [ngClass]="isTwoFactorEnabled ? 'text-success' : 'text-danger'">
                        {{ isTwoFactorEnabled ? 'Activée' : 'Désactivée' }}
                      </span>
                    </div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                    <app-two-factor-settings></app-two-factor-settings>

                </div>

<!-- Enable Payment Tab -->
<div class="tab-pane fade pt-3" id="profile-settings" role="tabpanel" >
  <p class="text-center " *ngIf="!isSellingEnabled">
    Activez les paiements et tirez profit de vos produits.  </p>
  <p class="text-center text-title"  *ngIf="isSellingEnabled">
    Tous vos produits sont disponibles à la vente.
  </p>


  <!-- Check if selling is enabled -->
  <div *ngIf="!isSellingEnabled" class="text-center">
    <button class="btn btn-primary" (click)="enableSelling()" [disabled]="isLoading">
      {{ isLoading ? 'Traitement en cours...' : 'Activer la vente' }}    </button>
  </div>
  <!-- Bank Account Registration Form
 <input [(ngModel)]="documentId" placeholder="Document ID" />
    <select [(ngModel)]="status">
      <option value="VALIDATION_ASKED">Validation Asked</option>
      <option value="VALIDATED">Validated</option>
      <option value="REFUSED">Refused</option>
    </select>
    <button (click)="simulate()">Simulate Document Status</button>
   -->
  <div *ngIf="showBankForm">
    <h3>Enregistrer un compte bancaire</h3>
    <form (ngSubmit)="registerBankAccount()" #bankForm="ngForm" class="needs-validation" novalidate>
      <div class="row mb-3">
        <label for="iban" class="col-md-4 col-form-label">IBAN</label>
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            id="iban"
            name="iban"
            [(ngModel)]="bankAccountDetails.iban"
            required
            minlength="15"
            maxlength="34"
            pattern="[A-Z]{2}[0-9A-Z]{13,32}"
            #ibanInput="ngModel"
          />
          <div *ngIf="ibanInput.invalid && (ibanInput.dirty || ibanInput.touched)" class="invalid-feedback">
            <div *ngIf="ibanInput.hasError('required')">L'IBAN est requis.</div>
            <div *ngIf="ibanInput.hasError('pattern')">Veuillez entrer un IBAN valide.</div>
            <div *ngIf="ibanInput.hasError('minlength') || ibanInput.hasError('maxlength')">
              L'IBAN doit comporter entre 15 et 34 caractères.            </div>
          </div>
        </div>
      </div>
    
      <div class="row mb-3">
        <label for="bic" class="col-md-4 col-form-label">BIC</label>
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            id="bic"
            name="bic"
            [(ngModel)]="bankAccountDetails.bic"
            required
            minlength="8"
            maxlength="11"
            pattern="^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$"
            #bicInput="ngModel"
          />
          <div *ngIf="bicInput.invalid && (bicInput.dirty || bicInput.touched)" class="invalid-feedback">
            <div *ngIf="bicInput.hasError('required')">BIC est requis.</div>
            <div *ngIf="bicInput.hasError('pattern')">Veuillez entrer un BIC valide.</div>
            <div *ngIf="bicInput.hasError('minlength') || bicInput.hasError('maxlength')">
              Le BIC doit comporter 8 ou 11 caractères.            </div>
          </div>
        </div>
      </div>
    
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="bankForm.invalid || isLoading">
          {{ isLoading ? 'Registering...' : 'Register Bank Account' }}
        </button>
      </div>
    </form>
    
  </div>


  <!-- Selling Enabled Message with Disable Option -->
  <div *ngIf="isSellingEnabled && !showBankForm" class="text-center">
    <div class="alert alert-success" role="alert">
      La vente est actuellement activée.    </div>
    <button class="btn btn-danger" (click)="disableSelling()" [disabled]="isLoading">
      {{ isLoading ? 'Processing...' : 'Désactiver la vente' }}
    </button>
  </div>
</div>


              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>