@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
        
.bg-body-tertiary {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;


}
    .card-registration .select-arrow {
    top: 13px;
    }