<main id="main" class="main">
  <section id="register-top">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center green-side">
        <div class="card text-center">
          <img src="assets/images/merchant2.jpg" alt="Merchant" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Join us as a Merchant</h2>
            <p class="card-text">Are you a Merchant looking to sell your produce directly to customers? Sign up as a Merchant and start selling today.</p>
          </div>
          <div class="card-footer">       
            <button (click)="registerAsMerchant()" class="btn btn-lg btn-success my-btn">Sign Up as a Merchant</button>
          </div>

        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center gray-side">
        <div class="card text-center">
          <img src="assets/images/client4.jpg" alt="Individual" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title">Join us as a Individual</h2>
            <p class="card-text">Looking to purchase fresh produce from local Merchants? Sign up as a Individual and enjoy a variety of farm-fresh products.</p>
          </div>
          <div class="card-footer">
            <button (click)="registerAsIndividual()" class="btn btn-lg btn-secondary my-btn">Sign Up as an Individual</button>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>